
@{
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
    ViewBag.Title = "Index";
}

<p> <code>
    Type 'get-help EntityFramework' to see all available Entity Framework commands.<br />
    PM> install-package <br />
    Package 'bootstrap.3.3.6' already exists in project 'WebBanSach'<br />
    PM>
</code> </p>
